<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/19994d2713.js"
            crossorigin="anonymous"
        ></script>
        <title>Password Bank</title>
    </head>

    <body>
        <div class="container">
            <div class="left-bar">
                <ul>
                    <li>
                        <span class="fab fa-google"></span>
                        <div class="item-text">
                            <div class="item-title">Google</div>
                            <div class="item-login">example@google.com</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-pane">
            <div class="toolbar">
                <button class="add-btn">
                    <span class="fas fa-plus"></span>
                </button>
                <button class="edit-btn">
                    <span class="far fa-edit"></span>
                </button>
                <button class="logout-btn">
                    <span class="fas fa-sign-out-alt"></span>
                </button>
            </div>
            <div class="main-content">
                <div class="cont">
                    <span class="fab fa-google"></span>
                    <div class="main-item-text">Google</div>
                </div>
                <div class="login-cont">
                    <div class="main-login">
                        <small>username</small>example@google.com
                    </div>
                    <div class="main-pass"><small>password</small>pass</div>
                </div>
            </div>
        </div>
    </body>
</html>
